<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>Literally our favorite food, pizza combines your vital macronutrients (the big three: protein, fat, and carbs) with many important micronutrients (think vitamins and minerals), all in a form that fits in your hand and is easy to eat on the go.</p>

<p>If you grew up in the 90s, you already know where we’re going with this. Pizza in the morning, pizza in the evening, pizza at supper time—but you don’t have to put pizza on a bagel to eat pizza anytime. Just eat pizza! You’re all grown up now, 90s kids, and that means you can live out your fantasy of eating pizza whenever you want by eating pizza whenever you want!.</p>

<p>Raised in Italy, traveled extensively, and boasting a uniquely cross-global citizenship, you don’t have to look very hard to find a local version of pizza anywhere you happen to go. From the corn and seafood pizzas in Japan to the huckleberry and bacon pizzas in Montana to the traditional margherita pizzas in Italy to the St. Louis-style right here in our very own neighborhood, there’s a pizza everywhere for everyone..</p>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>I don't usually keep people in suspense, but when I do .....</p>
</aside>
</div>